<form action='/new_user' method='get' accept-charset="UTF-8">
  <label for ='username'> Username</label>
  <input type='text' id= 'username', name= 'User[username]'>
  <label for ='email'> Email</label>
  <input type='email' id= 'email', name= 'User[email]'>
  <label for ='password'> Password</label>
  <input type='password' id= 'password', name= 'User[password]'>
  <input type='submit' value='Create'>
</form>